<div class="container">
  <div class="jumbotron container-fluid">
    <div class="row">
      <div class="col-8">
          <div class="display-4">PAYMENT GATEWAY</div>
          <br />
          <div class="lead">Are you a magazine editor who is sick of managing all those transactions by hand, because you are too cheap to hire a salesperson?</div>
          <div class="lead">Or are you just sick of those Internet *alakazam* transactions?</div>
          <div class="lead">Look no more! You have come to the right place</div>
      </div>
      <div class="col-4 display-1 d-flex justify-content-center">
          <i class="fa fa-usd text-info"></i>
          <i class="fa fa-usd text-info"></i>
          <i class="fa fa-usd text-info"></i>
      </div>
    </div>
    <hr class="display-4" />
    <div class="row">
      <div class="col">
        <p>Payment gateway is a service for managing user payments without all the fuss.</p>
        <p>All you have to do is:</p>
        <ol>
          <li>Register your magazine on this site</li>
          <li>Choose all the ways you want to enable for users to pay</li>
          <li>Enter your credentials for each payment service (You know, those LOOOOONG codes you got from your Bank)</li>
          <li>Eagerly wait for money to start flowing (Unless you are an editor of a math journal of some kind - that's just sick</li>
        </ol>
        <div class="d-flex justify-content-between">
            <p>So, what are you waiting for? Sign up now!</p>
            <h1><i class="fa fa-arrow-up text-info"></i></h1>
        </div>
      </div>
    </div>
  </div>
</div>
