<div class="container">
  <div class="jumbotron container-fluid">
    <div class="row">
      <div class="col-8">
          <div class="display-4">Confirm subscription</div>
          <hr class="display-4" />
          <div class="lead">Are you sure you want to subscribe to the magazine?</div>
      </div>
      <div class="col-4 display-1 d-flex justify-content-center">
          <i class="fa fa-meh-o text-dark"></i>
      </div>
    </div>
    <div class="row">
      <span class="col-12 btn-group d-flex justify-content-between">
          <button class="btn btn-success btn-la" (click)="execute()">Yes</button>
          <button class="btn btn-danger btn-la" (click)="cancel()">No</button>
      </span>
    </div>
  </div>
</div>